<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>
  <nav> <!-- nav = navigation tab -->
    <ul>
      <li>
        <a href="/pizzas">Pizza Orders</a> <!-- a = anchor tab -->
      </li>
      <li>
        <a href="/pizzas/new">Order New Pizza</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>